* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(255, 213, 122);
    text-align: center;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.7rem;
    border: none;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(106, 67, 0, 0.7);
    font-size: 8vmin;
    color: rgb(172, 1, 1);
    background-color: rgb(255, 246, 218);
}
#GameName {
    padding-top: 3rem;
}
#reset {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.8rem;
    border-radius: 2rem;
    border: none;
    background-color: rgba(65, 41, 0, 0.481);
    color: white;

}
#newGame {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.8rem;
    border-radius: 2rem;
    border: none;
    background-color: rgba(65, 41, 0, 0.481);
    color: white;
}
.winMsg {
    font-size: 5vmin;
}
.hide {
    display: none;
}
.msg-container {
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}
